* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.hero-body{
    background-image: url(./images/pexels-asad-photo-maldives-240524.jpg);
    
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 1;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  .img1{
    background-image: url(./images/business.jpg);
    
    background-size: 100%;
    width: 30vw;
    height: 40vh;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .img2{
    background-image: url(./images/smile.jpg);
    
    background-size: 100%;
    width: 30vw;
    height: 40vh;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .img3{
    background-image: url(./images/fleet3jets.jpg);
    
    background-size: 100%;
    width: 30vw;
    height: 40vh;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .qoute{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin: 30px 0;
  }





  @media only screen and (max-width: 600px) {
    .img1{
        background-size: 100%;
        width: 80vw;
        height: 50vh;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: 1;
      }
      .img2{
        background-size: 100%;
        width: 80vw;
        height: 50vh;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: 1;
      }
      .img3{
        background-size: 100%;
        width: 80vw;
        height: 50vh;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: 1;
      }
  }

  @media only screen and (max-width: 748px) {
    .img1{
        background-size: 100%;
        width: 80vw;
        height: 50vh;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: 1;
      }
      .img2{
        background-size: 100%;
        width: 80vw;
        height: 50vh;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: 1;
      }
      .img3{
        background-size: 100%;
        width: 80vw;
        height: 50vh;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: 1;
      }
  }

  @media only screen and (max-width: 948px) {
    .img1{
        background-size: 100%;
        width: 80vw;
        height: 50vh;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: 1;
      }
      .img2{
        background-size: 100%;
        width: 80vw;
        height: 50vh;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: 1;
      }
      .img3{
        background-size: 100%;
        width: 80vw;
        height: 50vh;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: 1;
      }
  }